@import '~assets/scss/vendors/_bootstrap';

$theme: #38470B;

*, html, body {
  font-family:'微軟正黑體', 'MicroSoft JhengHei', Arial, Helvetica, sans-serif;
}

.list-style {
  &--none {
    list-style: none;
  }
}

.bg--theme {
  background-color: $theme;
}

.btn-outline-white {
  border: 1px solid white;
  color: white;
  transition: all .3s;
  &:hover {
    color: white;
    transform: scale(1.04);
  }
}

.h-100vh {
  height: 100vh !important;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 100%;
  &-inner {
    height: 100vh;
    @media (max-width: 768px) {
      height: 50vh
    }
  }
  &-item {
    width: 100%;
    height: 100%;
    &-img{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    @media (max-width: 768px) {
      height: 50vh;
      position: absolute;
    }
    }
  }
}

.carousel-indicators > li{
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
    &.active {
      background-color: white;
    }
}

.custom-indicators-setting {
  & > li {
    border: 1px solid #38470B;
    margin-right: 16px;
    &.active {
      background-color: #38470B;
    }
  }
}